.image-size {
    height: 75%;
    width: 75%;
}

header,
h1,
h2 {
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.video-config {
    margin: 5px;
    text-align: center;
}

.background {
    background-color: cadetblue;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
}

.white-background {
    background-color: white;
    padding: 10x;
    border-radius: 25px;
    border: 1px solid black;
}

thead,
th {
    font-weight: bold;
    border-bottom: 2px solid blue;
}

tfoot {
    font-weight: bold;
}

.border-top {
    border-top: 2px solid blue;
}

table {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.border-pyramid {
    background-color: bisque;
    border-style: outset;
}